* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 750pt;
}

header {
    width: 100%; 
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px 4px white;
    background-color: black;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

main, aside {background-color: whitesmoke;}

footer {
    padding-top: 1px;
    text-align: center;
    width: 100%;
    color: whitesmoke;
    background-color: darkred;
    font-size: 12px;
}

h2, h3 { 
    text-align: center;
    background-color: darkred;
    color: white;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    border-bottom: 12px solid green;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

h3 {
    border-top: 12px solid green;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 3vh;
}

h5 {
    margin-top: 2vh;
}

.book {
    text-align: center;
    width: 18vw;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-right: 2%;
}
.book:hover {
    cursor: pointer;
}

.book img {max-height: 140px;}

#Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {font-size: smaller; font-family: Verdana, Geneva, Tahoma, sans-serif;}
.author {
    padding: 4px;
    padding-bottom: 6px;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: red;
}

a {
    text-decoration: none; 
    color: whitesmoke;
}

a[id="owner"] {
    color:green;
}



button {
    margin-top: 4vh;
    padding: 5px;
    width: 60pt;
    transition: 0.3s linear;
    border-radius: 12px;
    border: none;
    background-color: rgb(165, 165, 165);
    font-weight: bolder;
}
button:hover {
    background-color: darkred;
    color: whitesmoke;
    text-shadow: 1px 1px 5px lightgreen;
    cursor: pointer;
    transform: scale(1.4,1.4);
}




#menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-top: 3vh;
    padding-bottom: 2vh;
    font-size: 16px;
}

#menu li a {
    border-radius: 9px;
    padding: 20px;
    transition: 0.4s linear;
    text-shadow: none;
}
#menu li a:hover {
    box-shadow: 0;
    -moz-box-shadow: 0 3px 10px 0 whitesmoke;
    -webkit-box-shadow: 0 3px 10px 0 whitesmoke;
    text-shadow: 1px 1px 4px white;
}