* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {height: 750pt;}

header, footer {width: 100%; text-align: center;}

main {
    background-color: aquamarine;
    float: left;
    width: 60%;
    height: 500pt;
}

aside {
    background-color: crimson;
    float: right;
    width: 40%;
}

footer {
    color: whitesmoke;
    background-color: midnightblue;
    position: fixed;
    bottom: 0;
}

#Topo {text-align: center; height: 70px;}

h2, h3 {text-align: center;}

h2 {
    margin-top: 2%;
    margin-bottom: 2%;
}


.book {
    height: 250px;
    text-align: center;
    width: 250px;
}

.book img {max-height: 150px;}

#Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {font-size: large;}

a {
    text-decoration: none; 
}

a[id="owner"] {
    color:lightblue;
}