* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 750pt;
}

header, footer {width: 100%; text-align: center;}
main, aside {background-color: whitesmoke;}

main {
    border-right: 1px solid grey;
    float: left;
    width: 65%;
}

aside {
    float: right;
    width: 35%;
}

footer {
    color: whitesmoke;
    background-color: midnightblue;
    position: fixed;
    bottom: 0;
    height: 10px;
    font-size: 10px;
}

h2, h3 { 
    text-align: center;
    background-color: midnightblue;
    color: white;
    padding-bottom: 1%;
    height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 5px lightblue;
}

h3 {
    padding-top: 2px;
}

.book {
    height: 250px;
    text-align: center;
    width: 250px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-right: 2%;
}

.book img {max-height: 150px;}

#Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {font-size: large;}

a {
    text-decoration: none; 
}

a[id="owner"] {
    color:lightblue;
}

nav {
    display: block;
    flex-direction: row;
}